
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="bodyContent">
    <h1 class="PageTitle">Home</h1>
    <p>Welcome to Pokemon Card Collection, your one stop shop for everything you will need for pokemon cards.</p>
    <p>Our goal is to give the greatest variety of Pokemon Cards you could ever want.</p>
</div>
