body {
    background-color: #F5F3EE;
}
.navbar-inverse .navbar-item:hover,
.navbar-inverse .navbar-item:focus {
    color: #000000;
    background-color: #03addc;
}

.navbar-inverse {
    background-color: #01708f;
    border-color: #000000;
}

.navbar-inverse .navbar-item {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar {
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-item {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-item {
    position: relative;
    display: block;
    padding: 10px 15px;
}

header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #020468
}
.navbar {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.bodyContent {
    padding: 1em 10%;
    margin: 1em 10%;
    background-color: #020468;
    color: #71daf7;
}